<div class="container mt-5 bg-secondary p-3 w-50">
    <h2 class="text-white">Ingrese su usuario</h2>
    <form class="login-form d-flex flex-column" action="/api/login" method="POST">
        <input type="text" name="user" id="user"/>
        <button class="mt-2 w-25 btn bg-primary text-white" type="submit" value="Enviar">Ingresar</button>
    </form>
</div>